.main {
  --s: 100px;  /* size */
  --m: 4px;    /* margin */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 55vh;
}

.main div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); /* h=s/cos(30) */
  background: black;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

 
