#container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  column-gap: 1rem;

  .restoreIconContainer {
    align-self: flex-start;
    cursor: pointer;
    color: var(--text-primary);
    border: none;
    border-radius: 20px;
    transition: all 0.2s;
    padding: 0.5rem;

    &:hover {
      background-color: whitesmoke;
    }

    @keyframes rotateOnce {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .restoreIcon {
      display: inline-block;
    }

    .isRotating {
      animation: rotateOnce 0.5s ease-out;
    }
  }
}

td {
  border: 1px solid darkgray;
  width: 12px;
  height: 12px;
  background-color: whitesmoke;

  transition: background-color 0.15s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.popUp {
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  .message {
    background-color: white;
    padding: 2rem 4rem;
    border: 2px solid var(--text-primary);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .input {
        width: min(var(--width), 20rem);
        padding: 0.5rem;
        border: 1px solid grey;
        border-radius: 5px;
        transition: all 0.2s;

        &:focus {
          outline: none;
          border-color: var(--text-primary);
          border-width: 2px;
        }
      }
    }
  }
}