
.robot_flex {
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #a6b4c4;
  background-image: radial-gradient(#a6b4c4, #59798e);
}

.robot_eyes_flex {
  width: 400px;
  height: 150px;
  border: 3px solid black;
  border-radius: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot_socket_flex {
  width: 375px;
  height: 125px;
  border: 3px solid black;
  border-radius: 200px;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;

}

.robot_eye_flex {
  height: 145px;
  width: 145px;
  background-color: #fefbb8;
  border-radius: 100%;
  margin: -10px 10px 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot_pupil_flex {
  width: 20px;
  height: 20px;
  background-color: black;
}

.robot_mouth_flex {
  width: 275px;
  height: 100px;
  background-color: black;
  margin-top: 80px;
  border-radius: 50px;
  border: 4px solid black;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
  overflow: hidden;
  justify-content: space-between;
}

.robot_tooth_flex {
  height: 46px;
  width: 33px;
  background-color: #fefbb8;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* reguli pentru pleoape */

.robot_eye_flex::before {
  content: "";
  position: absolute;
  width: 145px;
  height: 50px;
  top: -50px;
  background: black;
  animation-name: topEyelid;

  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.robot_eye_flex::after {
  content: "";
  position: absolute;
  width: 145px;
  height: 50px;
  bottom: -50px;
  background: black;
  animation-name: bottomEyelid;

  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes topEyelid {
  /* închide pleoapele */
  0% {
    transform: translateY(0px);
  }
  /* ține pleoapele închise */
  20% {
    transform: translateY(50px);
  }
  80% {
    transform: translateY(50px);
  }
  /* deschide pleoapele */
  100% {
    transform: translateY(0);
  }
}

@keyframes bottomEyelid {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}