.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: 55vh;
}

.mainRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  
  .leftInfoTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .rightInfoTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .lateralDisplay{
    width: 22rem;
    background-color: var(--background-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    border: 2px solid var(--text-primary);
    border-radius: 20px;
  }

  .board {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
  }

  .board :nth-child(1) {
    border-radius: 30px 0 0 0;
  }

  .board :nth-child(3) {
    border-radius: 0 30px 0 0;
  }

  .board :nth-child(7) {
    border-radius: 0 0 0 30px;
  }

  .board :nth-child(9) {
    border-radius: 0 0 30px 0;
  }

  .board :nth-child(even) {
    background-color: var(--text-primary);
  }

  .board :nth-child(odd) {
    background-color: rgb(127, 0, 0);
  }

  .tile {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    background: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// INPUT SECTION
.controlPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .input {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid var(--text-muted);
    font-size: 18px;
    text-align: center;

    &:focus {
      outline: none;
      border-color: var(--text-primary);
    }
  }

  .button {
    height: 30px;
    width: 50px;
    border-radius: 8px;
    border: 2px solid var(--text-muted);
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      color: var(--text-primary);
    }

    background-color: white;

    .icon {
      color: var(--text-muted);

      &:active {
        color: var(--text-primary);
      }
    }
  }
}

.alert {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;

  .alertContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-lab);
    border: 3px solid var(--text-primary);
    border-radius: 20px;
    padding: 2rem 3rem;

    span {
      color: var(--text-primary);
    }
  }
}