:root {
  --color-primary: #304430;
  --color-secondary: whitesmoke;

  --background-primary: #F3E9B7;
  --background-secondary: #8E9883;
  --background-tertiary: #32352E;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-primary);
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}