.layout {

  display: grid;
  min-height: 55vh;
  width: 80vw;
  margin: 0;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: "header"
    		       "main"
                       "footer";
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nav main aside";
}

.main > .nav, 
.main > .aside {
  background: #FAF4B7;
}

.header {
  background: #CDF0EA;
}

.article {
  background: #F9F9F9;
}

.footer {
  background: #F6C6EA;
}

.header, .footer, .article, .nav, .aside {
  padding: 1em;
}