.header{
  position: sticky;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 8rem;
  padding: 1rem 1rem;
  background-color: var(--background-secondary);
}

.header, .navItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.logoWrapper, .rightSection, .navBar, .arrowDropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 2rem;
}

.logoWrapper, .rightSection{
  min-width: 20rem;
}

.navItem{
  position: relative;
  cursor: pointer;
}

.logoWrapper img{
  object-fit: cover;
}

.arrowDropdown{
  gap: 0.1rem;
}

.dropdown{
  position: absolute;
  top: 1.5rem;

  background-color: var(--background-tertiary);
  padding: 0.25rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--background-secondary);
  border-radius: 4px;
  gap: 0.5rem;
}
.dropdown span{
  color: var(--text-secondary);
}