.films {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .film {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .meta {
            display: flex;
            flex-direction: column;
        }
    }
}